<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina el Número</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Formulario para adivinar el número -->
    <form method="post">
        <h1>¡Felicidades, has ganado!</h1>
        <h3>Has adivinado el número secreto.</h3>
        <br>
        <button class="button-85" role="button"><a href="/">Jugar de nuevo</a></button>
    </form>
</body>
</html>